<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<script type="text/javascript" src="{{url_for('static', filename='js/jquery-2.1.1.min.js')}}">
		</script>
		<script type="text/javascript" src="{{url_for('static', filename='js/jquery.Jcrop.min.js')}}">
		</script>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/jquery.Jcrop.css')}}">
	</head>
	<body>
		<script type="text/javascript">
			$(document).ready(function () {
				console.log("hello");
			});
		</script>
	</body>
</html>